.wrapper-addressform {
  width: 80%;
  text-transform: uppercase;
  margin: 2em 0;
  /* transition: 1s ease; */
}

.wrapper-addressform h3 {
  font-size: 1.25em;
}

.addressform {
  width: 90%;
  margin: 0 auto;
}

.addressform label {
  font-size: 0.7em;
  text-transform: uppercase;
  color: rgb(201, 151, 151);
}

.addressform .form-group input,
.addressform .form-group select {
  font-size: 0.8em;
  text-transform: capitalize;
}

.addressform-button {
  font-size: 13px;
  text-transform: capitalize;
}

/* .shippingaddress-form label {
  font-size: 0.7em;
  text-transform: uppercase;
  color: rgb(201, 151, 151);
} */
