.wrapper-addressform {
  width: 80%;
  text-transform: uppercase;
  margin: 1em 0;
  /* transition: 1s ease; */
}

.wrapper-addressform h3 {
  font-size: 21px;
}

.addressform {
  width: 90%;
  margin: 0 auto;
}

.addressform label {
  font-size: 0.7em;
  text-transform: uppercase;
  color: rgb(63, 61, 61);
}

.addressform .form-group input,
.addressform .form-group select {
  font-size: 0.8em;
  text-transform: capitalize;
}

.addressform-button {
  font-size: 13px;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .wrapper-addressform {
    width: 100%;
    margin: 0em 0;
  }

  .wrapper-addressform h3 {
    font-size: 17px;
  }

  .wrapper-addressform.form-group label {
    font-size: 0.55em;
    margin: 0px 0px 4px;
  }

  .wrapper-addressform .form-group input,
  .wrapper-addressform .form-group select {
    font-size: 0.7em;
    /* text-transform: capitalize; */
  }

  .wrapper-addressform .form-group {
    margin: 0px 0px 5px 0px;
  }

  .addressform {
    width: 95%;
    margin: 0 auto;
  }
}
