.wrapper-footer {
  background-color: black;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 15px;
}

.footer-container {
  display: flex;
  padding: 1.5em 1em;
  text-align: left;
}

.footer-customerservice {
  width: 30%;
}

.footer-aboutus {
  width: 30%;
}

.footer-newsletter {
  width: 40%;
}

.footer-subheader {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  /* font-size: 1.1em; */
}

.footer-container ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
  text-transform: capitalize;
  font-size: 0.9em;
}

.footer-container ul li {
  line-height: 1.8em;
}

.footer-newsletter .input-group {
  margin-top: 0.5em;
}

.footer-newsletter .input-group input[type='text'] {
  padding: 0 0.5em;
}

.footer-newsletter button {
  background: red;
  color: white;
  border: none;
  text-transform: capitalize;
  font-size: 0.9em;
}

.footer-copyright {
  border-top: 1px solid rgb(36, 32, 32);
  font-size: 0.9em;
  padding: 1em 0;
}

.footer-copyright p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .wrapper-footer {
    /* height: 4vh; */
    line-height: 4vh;
    font-size: 10px;
  }

  .footer-container {
    display: block;
    padding: 1em 0 0 0;
    text-align: center;
  }

  .footer-customerservice {
    width: 50%;
    display: inline-block;
    padding-top: 1em;
  }

  .footer-aboutus {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-top: 1em;
  }

  .footer-newsletter {
    width: 100%;
    /* background: yellow; */
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgb(36, 32, 32);
  }

  .newsletter-form {
    width: 50%;
    margin: 0 auto;
  }

  .footer-subheader {
    font-size: 1.4em;
  }

  .footer-container ul {
    text-align: center;
    margin-top: -15px;
    font-size: 1.25em;
  }

  .footer-container ul li {
    line-height: 1.8em;
  }

  .footer-newsletter .input-group input[type='text'] {
    padding: 0 0.5em;
  }

  .footer-copyright {
    border-top: 1px solid rgb(36, 32, 32);
    font-size: 1.2em;
    padding: 0.5em;
  }
}
