.wrapper-shoesform {
  width: 95%;
  margin: 4em auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.wrapper-shoesform h1 {
  font-size: 30px;
  margin-bottom: 1.3em;
  text-transform: uppercase;
}

.wrapper-shoesform form .form-group input {
  margin: 0 auto;
}

.wrapper-shoesform form .form-group label {
  width: 80%;
  text-align: left;
  letter-spacing: 2px;
  font-size: 13px;
  text-transform: uppercase;
  color: rgb(59, 45, 45);
}

.wrapper-shoesform form .form-group input {
  width: 80%;
  min-height: 3vh;
}

.wrapper-shoesform form .add-shoes-button {
  width: 80%;
  margin: 1.5em auto 0.7em;
}

.wrapper-shoesform form .add-shoes-button input {
  letter-spacing: 2px;
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .wrapper-shoesform {
    margin: 1.8em auto;
    width: 100%;
  }
  .wrapper-shoesform h1 {
    font-size: 25px;
    margin-bottom: 0.7em;
  }

  .wrapper-shoesform form .form-group label {
    width: 95%;
    font-size: 11px;
  }

  .add-shoes-button {
    width: 95%;
  }

  .wrapper-shoesform form .form-group input {
    width: 95%;
    min-height: 5vh;
  }

  .add-shoes-button input {
    font-size: 14px;
  }
  .wrapper-shoesform p {
    font-size: 14px;
  }
}
