.continuetoshipping-button {
  text-align: right;
}

.continuetoshipping-button input {
  font-size: 13px;
}

.shippingaddress-form-container .row .col {
  padding: 0 2px;
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .continuetoshipping-button input {
    font-size: 12px;
    margin-top: 5px;
  }

  .shippingaddress-form-container .row .col {
    padding: 0 1px;
  }
}
