.shippingoption-container {
  margin: 0.5em 0.3em;
}

.header-shippingoption {
  margin-bottom: 10px;
}

.header-shippingoption h1 {
  font-size: 17px;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 0px;
}

.shipping-summary-table {
  margin: 1em 0 2em 0;
}

.table-shipping-summary {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px rgb(226, 218, 218);
  font-size: 0.85em;
}

.table-shipping-summary tr {
  height: 35px;
}

.table-shipping-summary td {
  padding: 0 10px;
}

.table-shipping-summary-firstcol {
  width: 80px;
}

.table-shipping-summary-lastrow {
  text-align: right;
}

.table-shipping-summary-lastrow button {
  padding: 0 20px;
  background: transparent;
  border: none;
  color: blue;
  font-size: 13px;
  text-transform: capitalize;
}

.shipping-summary-options {
  margin: 1em 0;
}

.shipping-summary-options form {
  border: 1px solid rgb(226, 218, 218);
  border-radius: 10px;
  padding: 12px;
}

.shipping-summary-options form label {
  font-size: 0.85em;
}

.radiolabel-left {
  text-align: left;
}

.radiolabel-right {
  text-align: right;
}

.shipping-summary-buttons {
  display: flex;
  margin: 1em 0;
}

.shipping-summary-button-left {
  width: 50%;
  text-align: left;
  margin: auto;
}

.shipping-summary-button-right {
  width: 50%;
  text-align: right;
  margin: auto;
}

.shipping-summary-button-left button {
  font-size: 13px;
  background: transparent;
  border: none;
  color: blue;
  padding: 5px;
}

.shipping-summary-button-right button {
  font-size: 13px;
}
