.customerinfo-container {
  width: 50%;
  padding: 2em 2em 0 0.5em;
  text-align: left;
  border-right: 1px solid rgba(226, 203, 203, 0.658);
  min-height: 80vh;
}

.header-customerinfo {
  height: 50px;
  text-align: center;
  border-bottom: 1px solid rgba(226, 203, 203, 0.658);
  margin-bottom: 20px;
}

.header-customerinfo h1 {
  text-transform: uppercase;
  font-size: 22px;
}

.shippingaddress-container {
  margin: 0.5em 0.3em;
}

.header-shippingaddress,
.header-billingaddress {
  margin-bottom: 10px;
}

.header-shippingaddress h1,
.header-billingaddress h1 {
  font-size: 17px;
  text-transform: capitalize;
  line-height: 30px;
  margin-bottom: 0px;
}

.billingaddresssignin-button {
  background: transparent;
  border: none;
  text-decoration: underline;
  font-size: 12px;
  padding: 3px 15px 3px 0px;
  color: gray;
}

.shippingaddress-form label,
.billingaddress-form label {
  font-size: 0.7em;
  text-transform: uppercase;
  color: rgb(63, 61, 61);
}

.shippingaddress-form .form-group input,
.shippingaddress-form .form-group select,
.billingaddress-form .form-group input,
.billingaddress-form .form-group select {
  font-size: 0.8em;
  /* text-transform: capitalize; */
}

.checkout-crumbs {
  font-size: 0.7em;
}

.crumbs-bold {
  font-weight: 800;
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .customerinfo-container {
    width: 100%;
    text-align: left;
    border-right: none;
    padding: 1em 0 0 0;
    min-height: none;
    /* This is the order of flex box, this brings it under the order summary */
    order: 1;
  }

  .header-customerinfo {
    height: 34px;
    text-align: center;
    border-bottom: none;
    margin-bottom: 10px;
  }

  .header-customerinfo h1 {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 34px;
  }

  .shippingaddress-container {
    margin: 0.5em 0.3em;
  }

  .header-shippingaddress,
  .header-billingaddress {
    margin-bottom: 10px;
  }

  .header-shippingaddress h1,
  .header-billingaddress h1 {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 22px;
    margin-bottom: 0px;
  }

  .shippingaddress-form-container,
  .billingaddress-form-container {
    margin: 0px 0px 15px 0px;
  }

  .billingaddresssignin-button {
    font-size: 11px;
  }

  .shippingaddress-form label,
  .billingaddress-form label {
    font-size: 0.55em;
    margin: 0px 0px 4px;
  }

  .shippingaddress-form .form-group input,
  .shippingaddress-form .form-group select,
  .billingaddress-form .form-group input,
  .billingaddress-form .form-group select {
    font-size: 0.7em;
    /* text-transform: capitalize; */
  }

  .shippingaddress-form .form-group,
  .billingaddress-form .form-group {
    margin: 0px 0px 5px 0px;
  }

  .checkout-crumbs {
    display: none;
    /* font-size: 0.7em; */
  }
  .crumbs-bold {
    font-weight: 800;
  }
}
