.header-shoelistpage {
  text-transform: uppercase;
  text-align: center;
  margin: 1.5em 0;
  font-family: 'Montserrat', sans-serif;
}

.header-shoelistpage h1 {
  font-size: 29px;
}

.container-sorting-options {
  display: flex;
}

.sorting-left {
  width: 50%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  color: rgb(142, 207, 207);
  word-spacing: 5px;
  text-transform: uppercase;
}

.sorting-left p span {
  cursor: pointer;
}

.shoesperpage-selected {
  color: black;
  font-weight: 800;
}

.sorting-right {
  width: 50%;
  text-align: right;
}

.shoes-list-filter {
  width: 25%;
}

.shoes-list-filter-content {
  height: 400px;
  background: pink;
}

.container-shoes-list {
  display: flex;
}

.show-filter-button {
  display: none;
}

.shoes-list-filter-content-mobile {
  display: none;
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .header-shoelistpage {
    margin: 1em 0;
    font-size: 22px;
  }

  .header-shoelistpage h1 {
    font-size: 22px;
  }

  .shoes-list-filter {
    display: block;
    width: 100%;
    margin: 0.5em auto;
  }

  .shoes-list-filter-content-mobile {
    height: 400px;
    background: pink;
    display: block;
  }

  .container-shoes-list {
    display: block;
  }

  .show-filter-button {
    display: block;
  }

  .shoes-list-filter-content {
    display: none;
  }
}
