.header-shoelistpage {
  text-transform: uppercase;
  text-align: center;
  margin: 1.5em 0;
  font-family: 'Montserrat', sans-serif;
}

.header-shoelistpage h1 {
  font-size: 29px;
}

.container-sorting-options {
  display: flex;
}

.sorting-left {
  width: 50%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  color: rgb(142, 207, 207);
  word-spacing: 5px;
  text-transform: uppercase;
}

.sorting-left p span {
  cursor: pointer;
}

.shoesperpage-selected {
  color: black;
  font-weight: 800;
}

.sorting-right {
  width: 50%;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-right select {
  border: none;
}

.sorting-right select:focus {
  outline: 0;
}

.shoes-list-filter {
  width: 20%;
}

.shoes-list-filter-content {
  height: 400px;
  text-transform: uppercase;
}

.container-shoes-list {
  display: flex;
}

.show-filter-button {
  display: none;
}

.shoes-list-filter-content-mobile {
  display: none;
}

/* for filter */
.found-item-container {
  border-top: 1px solid rgb(235, 227, 227);
  border-bottom: 1px solid rgb(214, 195, 195);
  padding: 0;
  text-align: center;
  height: 3.5em;
  line-height: 3.5em;
}

/* design this later */
.filter-refineby {
  display: none;
}

.filter-container {
  border-bottom: 1px solid rgb(214, 195, 195);
}

.filter-options-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;

  height: 3em;
  line-height: 3em;
}

.filter-show {
  display: block;
}

.filter-hide {
  display: none;
}

.filter-brand {
}

.filter-model {
}

.filter-size {
}

.filter-price {
}

.filter-year {
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .header-shoelistpage {
    margin: 1em 0;
    font-size: 22px;
  }

  .header-shoelistpage h1 {
    font-size: 22px;
  }

  .shoes-list-filter {
    display: block;
    width: 100%;
    margin: 0.5em auto;
  }

  .shoes-list-filter-content-mobile {
    height: 400px;
    background: pink;
    display: block;
  }

  .container-shoes-list {
    display: block;
  }

  .show-filter-button {
    display: block;
  }

  .shoes-list-filter-content {
    display: none;
  }
}
