.wrapper-related-shoes {
  /* background-color: rgb(247, 239, 239); */
  width: 100%;
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
}

.header-related-shoes {
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid rgb(201, 138, 138);
  padding-top: 20px;
  margin: 3em 0;
}

.header-related-shoes h1 {
  font-size: 27px;
}

.column-related-shoes {
  display: inline-block;
  width: 19%;
  margin: 2px;
  vertical-align: top;
}

.related-shoes-image {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.related-shoes-image img {
  width: 95%;
}

.related-shoes-info {
  color: black;
  text-align: center;
  padding: 10px;
  margin-top: -10px;
  text-transform: capitalize;
}

.related-shoes-info p {
  font-size: 13px;
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .header-related-shoes {
    margin: 1em 0;
  }

  .header-related-shoes h1 {
    font-size: 22px;
  }

  .column-related-shoes {
    display: inline-block;
    width: 30%;
    margin: 2px;
    vertical-align: top;
  }

  .related-shoes-image {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .related-shoes-image img {
    width: 95%;
  }

  .related-shoes-info {
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
    text-transform: capitalize;
  }

  .related-shoes-info p {
    font-size: 11px;
  }
}
