.wrapper-cartpage {
  padding: 2em 0;
  text-align: center;
}

/* .wrapper-cartpage button {
  border-radius: 0px;
} */

.header-cartpage h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-bottom: 1.3em;
  text-transform: uppercase;
}

.table-cartpage-items {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

.table-cartpage-items th {
  color: black;
}

.subtable-cart-iteminfo {
  line-height: 0px;
}

.subtable-cart-iteminfo tbody tr td {
  border: none;
}

.p-lessmargin {
  margin: 0 0 6px 0;
}

.p-nomargin {
  margin: 0;
}

/* CHANGE THIS LATER */
.cart-item-image {
  width: 200px;
}

.cart-item-image img {
  width: 100%;
}

.table-text-left-align {
  text-align: left;
}

.table-text-right-align {
  text-align: right;
}

.table-text-center-align {
  text-align: center;
}

.button-removecartitem {
  font-size: 13px;
  height: 30px;
  padding: 5px 15px 5px 0px;
  text-align: left;
  border: none;
  background: transparent;
  color: red;
  text-decoration: underline;
  margin-top: -15px;
}

.subtotal-text {
  text-align: right;
  font-size: 1.4em;
  text-transform: capitalize;
}

.taxes-shipping-text {
  text-align: right;
  font-size: 0.9em;
}

.cartpage-summary-buttons {
  text-align: right;
}

.cartpage-summary-buttons button {
  margin-left: 0.3em;
  font-size: 13px;
}

.cart-empty-box {
  margin: 0 auto;
  padding: 5em 0;
}

.cart-landscape {
  display: block;
}

.cart-mobile {
  display: none;
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .cart-landscape {
    display: none;
  }

  .cart-mobile {
    display: block;
  }

  .header-cartpage-mobile h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .table-summary-mobile {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    text-transform: capitalize;
  }

  thead th {
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(241, 230, 230);
  }

  tbody tr {
    height: 10px;
  }

  .table-left-mobile {
    text-align: left;
  }

  .table-right-mobile {
    text-align: right;
    text-transform: none;
  }

  .checkout-button-mobile {
    margin: 1.5em 0;
  }

  .checkout-button-mobile button {
    font-size: 0.8em;
    margin-top: 1em;
  }

  .cart-item-container-mobile {
    border-top: solid 1px rgb(241, 230, 230);
    font-family: 'Open Sans', sans-serif;
  }

  .cart-item-mobile {
    width: 100%;
    /* background: yellow; */
    padding: 0 10px 10px 10px;
    border-bottom: solid 1px rgb(241, 230, 230);
  }

  .cart-item-remove {
    margin-right: 2em;
    margin-top: 0.7em;
    right: 0;
    position: absolute;
  }

  .cart-item-remove button {
    background: transparent;
    width: 2.2em;
    font-size: 1.5em;
    text-align: center;
    color: rgb(247, 205, 205);
    border: none;
  }

  .cart-item-remove button:focus {
    outline: none;
  }

  .cart-item-mobile img {
    width: 95%;
  }

  .cart-item-mobile-info {
    display: flex;
    margin-top: 0.5em;
  }

  .cart-item-mobile-info-left {
    width: 65%;
    text-align: left;
    padding: 10px;
  }

  .cart-item-mobile-info-right {
    width: 35%;
    text-align: right;
    padding: 10px;
  }

  .cart-item-uppercase {
    text-transform: uppercase;
  }

  .cart-item-capitalize {
    text-transform: capitalize;
  }

  .cart-item-mobile-info-left p,
  .cart-item-mobile-info-right p {
    line-height: 1.3em;
    font-size: 0.9em;
    margin-top: -10px;
  }

  .cart-item-color-gray {
    color: gray;
  }

  .cart-item-bold {
    font-weight: 600;
  }

  .cart-item-bolder {
    font-weight: 800;
  }
}
