.itemsummary-container {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding: 2em 0.5em 0 2em;
  /* background: green; */
}

.header-itemsummary {
  height: 50px;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.header-itemsummary h1 {
  text-transform: uppercase;
  font-size: 22px;
}

.itemsummary {
  border-bottom: 1px solid black;
}

.itemsummary > *:last-child {
  border-bottom: none;
}

.item-row {
  display: flex;
  padding: 0.5em;
  border-bottom: 1px solid rgb(236, 221, 221);
  margin: 5px 0 0 0;
  font-size: 0.72em;

  /* background: yellow; */
}

.itemimage {
  width: 30%;
  text-align: left;
  /* background: pink; */
}

.iteminfo {
  width: 56%;
  text-align: left;
  /* font-size: 0.74em; */
  padding: 5px;
  /* background: aqua; */
}

.itemtotal {
  width: 14%;
  /* font-size: 0.74em; */
  /* background: orange; */
}

.itemimage img {
  width: 90%;
}

.p-margintop {
  margin-top: -10px;
}

.p-margintop2 {
  margin-top: -17px;
}

.p-margintop3 {
  margin-top: -14px;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 700;
}

/* item summary total!!!!!!!!!!!!!!!!!!!!!!!! */
.itemsummary-total {
  width: 100%;
  /* padding: 0 0.5em; */
}

.itemsummary-total table {
  width: 100%;
  margin-top: 0.3em;
  font-size: 0.8em;
  text-transform: uppercase;
}

.itemsummary-total table tr {
  height: 30px;
}

.itemsummarytable-left-col {
  text-align: left;
  padding-left: 0.7em;
}

.itemsummarytable-right-col {
  text-align: right;
  padding-right: 0.7em;
}

.summarytotal-text-bold {
  font-size: 1.6em;
  font-weight: bold;
}

.table-top-border {
  border-top: 1px solid black;
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .contactinformation-container {
    width: 100%;
    display: block;
    text-align: left;
    border-right: none;
  }

  .itemsummary-container {
    width: 100%;
    display: block;
    text-align: right;
    padding: 0;
  }

  .itemsummary {
    border-bottom: 2px solid rgb(228, 200, 200);
  }

  .item-row {
    padding: 0.5em;
    border-bottom: 1px solid rgb(236, 221, 221);
    margin: 5px 0 0 0;
    font-size: 0.65em;
    height: 100px;
  }

  .itemimage {
    width: 40%;
    text-align: left;
  }

  .iteminfo {
    width: 45%;
    text-align: left;
    padding: 3px;
  }

  .itemtotal {
    width: 15%;
  }

  .itemimage img {
    width: 85%;
    margin-left: 6px;
  }

  .mobile-hide {
    display: none;
  }
}
