.wrapper-recommended-shoes {
  /* background-color: rgb(247, 239, 239); */
  width: 100%;
  border-top: 1px solid rgb(235, 214, 214);
  font-family: 'Montserrat', sans-serif;
  padding-top: 25px;
  text-align: center;
  margin: 2em 0 0.8em 0;
}

.wrapper-recommended-shoes h1 {
  text-transform: uppercase;
  font-size: 27px;
  margin-bottom: 0.5em;
}

.column-recommended-shoes {
  display: inline-block;
  width: 19%;
  margin: 2px;
  vertical-align: top;
}

.recommended-shoes-image {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.recommended-shoes-image img {
  width: 95%;
}

.recommended-shoes-info {
  color: black;
  text-align: center;
  padding: 10px;
  margin-top: -10px;
  text-transform: capitalize;
}

.recommended-shoes-info p {
  font-size: 13px;
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .wrapper-recommended-shoes {
    margin: 1em 0;
  }

  .wrapper-recommended-shoes h1 {
    font-size: 20px;
  }

  .column-recommended-shoes {
    display: inline-block;
    width: 30%;
    margin: 2px;
    vertical-align: top;
  }

  .recommended-shoes-image {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .recommended-shoes-image img {
    width: 95%;
  }

  .recommended-shoes-info {
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
    text-transform: capitalize;
  }

  .recommended-shoes-info p {
    font-size: 11px;
  }
}
