.wrapper-banner {
  /* height: 200px; */
  /* height: 500px; */
  /* background: #f0f5f0; */
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.header-banner-info {
  font-size: 1.8em;
}

.bannerlogos-container {
  display: flex;
  font-size: 1.1em;
}

.banner-logo1,
.banner-logo2,
.banner-logo3 {
  width: 33%;
  margin: 1px;
}

.banner-logos-images {
  height: 280px;
  /* background: red; */
}

.bannerlogos-container img {
  width: 70%;
}

.banner-logo2 img {
  margin-top: 9%;
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .wrapper-banner {
    margin-top: 1em;
  }

  .header-banner-info {
    font-size: 1.2em;
  }

  .bannerlogos-container p {
    font-size: 0.8em;
  }

  .bannerlogos-container {
    display: block;
  }

  .banner-logo1,
  .banner-logo2,
  .banner-logo3 {
    width: 100%;
    margin: 1px;
    padding: 10px 30px;
  }

  .banner-logo2 img {
    margin-top: 0;
  }
  .banner-logos-images {
    height: auto;
    margin-bottom: 10px;
  }

  .bannerlogos-container img {
    width: 55%;
  }
}
