.wrapper-banner {
  height: 200px;
  /* background: #f0f5f0; */
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.header-banner-info {
  font-size: 1.8em;
}

.subheader-banner-info {
  margin-top: -5px;
  padding: 0 2em;
  font-size: 1em;
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .wrapper-banner {
    margin-top: 1em;
  }
  .header-banner-info {
    font-size: 1.2em;
  }

  .subheader-banner-info {
    font-size: 0.7em;
  }
}
