.wrapper-shirts-homepage {
  text-align: center;
  margin-bottom: 30px;
  white-space: nowrap;
  font-size: 0;
  border: 1px solid rgba(59, 33, 33, 0.822);
  font-family: 'Raleway', sans-serif;
}

/* .wrapper-women-shirt, */
.wrapper-men-shirt {
  width: 100%;
  height: 500px;
  display: inline-block;
}

.wrapper-women-shirt {
  vertical-align: top;
}

.men-shirt-image,
.women-shirt-image {
  position: relative;
}

.women-shirt-image img,
.men-shirt-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.women-shirt-button,
.men-shirt-button {
  position: absolute;
  top: 70%;
  left: 0;
  bottom: 0;
  right: 0;
}

.men-shirt-button .btn-dark {
  border: 1px solid rgb(68, 66, 66);
  text-transform: uppercase;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .wrapper-men-shirt,
  .wrapper-women-shirt {
    width: 100%;
    height: 45vh;
    display: block;
  }

  .women-shirt-image img,
  .men-shirt-image img {
    height: 45vh;
    width: 100%;
  }

  .women-shirt-image img {
    border: 1px solid rgba(59, 33, 33, 0.822);
  }

  .men-shirt-button .btn-dark {
    height: 5vh;
    width: 45vw;
    font-size: 14px;
  }
}
