.wrapper-shoesvariants-form {
  text-align: center;
  margin: 1em auto;
}

.new-size-button {
  width: 40%;
  font-size: 13px;
}

.variants-form {
  margin: 1em auto;
  width: 90%;
}

.variants-form form .form-group label {
  text-transform: uppercase;
  margin-right: 5px;
}

.form-row {
  margin: 0 auto;
}

.variants-form button {
  margin: 0 auto;
  width: 100%;
  font-size: 13px;
}

/* for mobile phone(iphone x and lower) */
@media screen and (max-width: 768px) {
  .new-size-button {
    width: 60%;
  }
}
